@page "{name}/{handler?}"
@using BirdEyeDetector.Models.Album
@model AlbumsModel

@{
    ViewData["Title"] = Model.Album.Name;
    ViewData["Description"] = $"The photo album \"{Model.Album.Name}\" containing {Model.Album.Photos.Count} photos including {string.Join(", ", Model.Album.Photos.Take(5))}";
    ViewData["Image"] = Request.Scheme + "://" + Request.Host + Model.Album.CoverPhoto?.GetThumbnailLink((int)ImageType.Full, out int h);
}

@*<form id="admin" if-authorized method="post" action="~/album/new/create/">
        <input type="text" name="name" id="name" aria-label="Album name" placeholder="Album name" required />
        <input type="submit" id="newalbum" data-progress="Creating..." value="New album">
    </form>*@

<div class="title" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <paging model="@Model.Album" />
    <h2 itemscope itemtype="http://schema.org/Thing" itemprop="item">
        <span itemprop="name">@Model.Album.Name</span>
    </h2>
    <meta itemprop="position" content="2" />
</div>

<div class="pic photolist">
    @{
        foreach (Photo photo in Model.Album.Photos)
        {
            <a href="@photo.Link" data-text="@photo.DisplayName">
                <img photo="@photo" Type="Thumbnail" />
            </a>
        }
    }
</div>
